.container {
    font-family: monospace;
    background-color: rgb(212, 141, 212);
    width: 100%;
    height: 800px;
}

.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25.8px;
}

.form {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(169, 73, 169);
    height: 300px;
    width: 85%;
    font-size: 20.5px;
}

.botao {
    font-size: 18.5px;
    width: 150px;
    height: 40px 
}
